<% contracts.each do |contract_group| %>
  <% next if contract_group.last.size == 0 %>

  <% contract_group.last.each do |cg| %>
    <%= render partial: 'reports/results/details_tasks_table', locals: { period: contract_group.first, contract: cg } %>
  <% end %>
<% end %>
