<div class="panel panel-default">
  <div class="panel-heading">
    <%= "#{human_readable_time(period)} - #{contract_plan_name(contract.plan)}" %>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('.tasks.description') %></th>
          <th><%= t('.tasks.date') %></th>
          <th><%= t('.tasks.duration') %></th>
        </tr>
      </thead>
      <tbody>
        <% if contract.tasks.size > 0 %>
          <% contract.tasks.each do |task| %>
            <tr>
              <td>
                <%= task.description %>
              </td>
              <td>
                <%= task.task_date.to_s(:date_format) %>
              </td>
              <td>
                <%= human_readable_decimal_as_hour(task.duration) %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">
              No tasks found.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="clear"></div>
