<tr>
  <td>
    <%= human_readable_time(period) %>
  </td>
  <td>
    <%= contract_plan_name(contract.plan) %>
  </td>
  <td>
    <%= human_readable_decimal_as_hour(contract.hours_hired) %>
  </td>
  <td>
    <%= human_readable_decimal_as_hour(contract.hours_consumed) %>
  </td>
  <td>
    <%= human_readable_decimal_as_hour(contract.hours_left) %>
  </td>
</tr>
