<table class="table table-striped table-bordered table-hover" id="summary">
  <thead>
    <tr>
      <th><%= t('.contracts.reference_date') %></th>
      <th><%= t('.contracts.plan_name') %></th>
      <th><%= t('.contracts.hired') %></th>
      <th><%= t('.contracts.consumed') %></th>
      <th><%= t('.contracts.remaining') %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">
        Total Hours
      </td>
      <td>
        <%= human_readable_decimal_as_hour(contract_summed_hours[:total_hours_hired]) %>
      </td>
      <td>
        <%= human_readable_decimal_as_hour(contract_summed_hours[:total_hours_consumed]) %>
      </td>
      <td>
        <%= human_readable_decimal_as_hour(contract_summed_hours[:total_hours_left]) %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% contracts.each do |contract_group| %>
      <% next if contract_group.last.size == 0 %>

      <% contract_group.last.each do |cg| %>
        <%= render partial: 'reports/results/summary_table_row', locals: { period: contract_group.first, contract: cg  } %>
      <% end %>
    <% end %>
  </tbody>
</table>
