<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= t('.title') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="plans-table">
          <thead>
            <tr>
              <th><%= t('.table.plan_name') %></th>
              <th><%= t('.table.hired_hours') %></th>
              <th><%= t('.table.reference_date') %></th>
            </tr>
          </thead>
          <tbody>
            <% @contract_presenter.contracts.each do |contract| %>
              <tr>
                <td><%= @contract_presenter.plan_name(contract.plan) %></td>
                <td><%= human_readable_decimal_as_hour(contract.hours_hired) %></td>
                <td><%= @contract_presenter.reference_date_to_s(contract.period) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: '/shared/scopes/scopes', locals: { scope_presenter: @contract_presenter.scope_presenter } %>
