<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= t('.title') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="tasks-table">
          <thead>
            <tr>
              <th><%= t('.table.plan_name') %></th>
              <th><%= t('.table.description') %></th>
              <th><%= t('.table.duration') %></th>
              <th><%= t('.table.date') %></th>
            </tr>
          </thead>
          <tbody>
            <% @task_presenter.tasks.each do |task| %>
              <tr>
                <td><%= @task_presenter.task_plan_name(task) %></td>
                <td><%= task.description %></td>
                <td><%= human_readable_decimal_as_hour(task.duration) %></td>
                <td><%= @task_presenter.task_date_to_s(task) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
    </div>
  </div>
</div>
<%= render partial: '/shared/scopes/scopes', locals: { scope_presenter: @task_presenter.scope_presenter } %>
