<div class="panel panel-default">
  <div class="panel-heading">
    <%= title %>
  </div>
  <div class="panel-body">
    <div class="flot-chart">
      <div class="flot-chart-content" id="<%= chart_id %>"></div>
    </div>
  </div>
</div>
