<% if dashboard.selected_contracts.size > 1 %>
  <div class="col-lg-3">
    <%= render partial: '/home/charts/pie_chart', locals: { title: t('.pie_chart_title'), chart_id: 'flot-pie-chart' } %>
  </div>
  <div class="col-lg-9">
    <%= render partial: '/home/charts/bar_chart', locals: { title: t('.bar_chart_title', year: dashboard.dashboard_year) } %>
  </div>
<% else %>
  <div class="col-lg-12">
    <%= render partial: '/home/charts/bar_chart', locals: { title: t('.bar_chart_title', year: dashboard.dashboard_year) } %>
  </div>
<% end %>
