<div id="dashboard-notification">
  <div class='alert alert-info'>
    <div class="message">
      <%= message %>
      <i class="fa fa-smile-o"></i>
    </div>
    <%= render '/shared/loading/loading' %>
  </div>
</div>
