<%= simple_form_for('', remote: true, url: update_dashboard_path, html: { id: 'filter_contracts_form' }) do |f| %>
  <div class='form-filter-contracts-item contract'>
    <%= f.input :contract, label: false, collection: dashboard.contracts_for_filter, selected: dashboard.selected_contract,
          input_html: { id: "filtered_contract" } %>
  </div>
<% end %>
