<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-clock-o fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
          <div class="huge"><%= number %></div>
          <div><%= text %></div>
      </div>
    </div>
  </div>
  <%= link_to(details_url) do %>
    <div class="panel-footer">
      <span class="pull-left">View Details</span>
      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>
