<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-clock-o fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
          <div class="huge"><%= dashboard.number_remaining_hours %></div>
          <div><%= text %></div>
      </div>
    </div>
  </div>
  <div class="panel-footer left-hours">
    <%= render "home/remaining_hours/#{dashboard.remaining_hours_message_partial_name}" %>
    <div class="clearfix"></div>
  </div>
</div>
