<div id="dashboard_container">
  <div class="row">
    <div id="section_notification" class="col-lg-10 col-md-2"></div>
    <div id="section_filter_contracts" class="col-lg-2 col-md-2">
      <%= render partial: '/home/filter_contracts', locals: { dashboard: @dashboard } %>
    </div>
  </div>

  <div class="row">
    <div id="section_number_plans" class="col-lg-3 col-md-6"></div>
    <div id="section_number_hired_hours" class="col-lg-3 col-md-6"></div>
    <div id="section_number_consumed_hours" class="col-lg-3 col-md-6"></div>
    <div id="section_number_remaining_hours" class="col-lg-3 col-md-6"></div>
  </div>

  <div class="row">
    <div id="charts"></div>
  </div>
</div>
