<%
  current_scope = scope_presenter.current_scope
  possible_scopes = scope_presenter.possible_scopes
  scopes_paths = scope_presenter.scopes_paths
%>
<div class="hidden-scopes hidden">
  <% possible_scopes.each do |possible_scope| %>
    <div class="scope-item <%= scope_presenter.scope_correct_class(possible_scope, current_scope) %>" >
      <%= link_to(scopes_paths[possible_scope][:text], scopes_paths[possible_scope][:path]) %>
    </div>
  <% end %>
</div>
