<div class='top-content'>
  <div class='inner-bg'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2 text'>
          <h1><strong><%= t('system.title') %></strong></h1>
          <div class='description'>
            <p><%= t('system.catch_phrase') %></p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3 form-box'>
          <div class='form-top'>
            <div class='form-top-left'>
              <h3><%= t('sessions.welcome') %></h3>
              <p><%= t('sessions.welcome_line') %></p>
            </div>
            <div class='form-top-right'>
              <i class='fa fa-lock'></i>
            </div>
          </div>
          <div class='form-bottom'>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: 'login-form'}) do |f| %>
              <%= f.label :email, t('sessions.login_form.email'), class: 'sr-only' %>
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('sessions.login_form.email'), required: true %>

              <%= f.label :password, t('sessions.login_form.password'), class: 'sr-only' %>
              <%= f.password_field :password, autocomplete: 'off', class:'form-control', placeholder: t('sessions.login_form.password'), required: true %>

              <div class='checkbox'>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>

              <%= f.submit t('sessions.login_form.submit'), class:'btn btn-lg btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
