this.App.chartFunctions = {
  populateChartPieData: function populateChartPieData(rawData){
    return new Promise(function (resolve) {
      var chartData = []
      if(rawData.length === 0){
        var defaultItem = {
          label: "-",
          data: 100
        }
        chartData.push(defaultItem)
      }
      else{
        $.each( rawData, function( key, contract ) {
          var dataItem = {
            label: contract.plan,
            data: contract.hours_hired
          }
          chartData.push(dataItem)
        });
      }
      resolve(chartData)
    });
  },
  generatePieChart: function generatePieChart(chartData){
    return new Promise(function (resolve) {
      $.plot('#flot-pie-chart', chartData, {
        series: {
          pie: {
            show: true,
            label: {
              show: true,
              radius: 1,
              formatter: function(label, series) {
                var color = series.color
                var number = series.data[0][1];
                return ('<div style="font-size:x-small;text-align:center;padding:2px;color:' + color + ';">' + label + '<br/>' + number + '</div>')
              }
            }
          }
        },
        legend: {
          show: false
        },
        grid: {
          hoverable: true
        },
        tooltip: true,
        tooltipOpts: {
          content: "%s: %y.0", // show percentages, rounding to 2 decimal places
          shifts: {
              x: 20,
              y: 0
          },
          defaultTheme: true
        }
      });
      resolve(true)
    })
  },
  populateChartBarData: function populateChartBarData(rawData){
    return new Promise(function (resolve) {
      var hiredHoursData    = [ [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0] ]
      var consumedHoursData = [ [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0] ]

      $.each( rawData, function( key, contract ) {
        var index = contract.period.month - 1
        hiredHoursData[index][1] += Number(contract.hours_hired)
        consumedHoursData[index][1] += Number(contract.hours_consumed)
      });

      var chartData = {
        hiredHoursData: hiredHoursData,
        consumedHoursData: consumedHoursData
      }
      resolve(chartData)
    })
  },
  generateBarChart: function generateBarChart(chartData){
    return new Promise(function (resolve) {
      $.plot("#flot-bar-chart",
        [{
            label: "<%= I18n.t('dashboard.hired_hours.text') %>",
            data: chartData.hiredHoursData
          },
          {
          label: "<%= I18n.t('dashboard.consumed_hours.text') %>",
          data: chartData.consumedHoursData
        }],
        {
          series: {
            bars: {
              show: true,
              barWidth: 0.15,
              order: 1
            }
          },
          xaxis: {
            mode: "categories",
            ticks: [
              [0, "<%= Date::MONTHNAMES[1] %>"],
              [1, "<%= Date::MONTHNAMES[2] %>"],
              [2, "<%= Date::MONTHNAMES[3] %>"],
              [3, "<%= Date::MONTHNAMES[4] %>"],
              [4, "<%= Date::MONTHNAMES[5] %>"],
              [5, "<%= Date::MONTHNAMES[6] %>"],
              [6, "<%= Date::MONTHNAMES[7] %>"],
              [7, "<%= Date::MONTHNAMES[8] %>"],
              [8, "<%= Date::MONTHNAMES[9] %>"],
              [9, "<%= Date::MONTHNAMES[10] %>"],
              [10, "<%= Date::MONTHNAMES[11] %>"],
              [11, "<%= Date::MONTHNAMES[12] %>"]
            ],
            tickLength: 1
          },
          grid: {
            hoverable: true
          },
          tooltip: true,
          tooltipOpts: {
            content: "%s: %y.0", // show percentages, rounding to 2 decimal places
            shifts: {
                x: 20,
                y: 0
            },
            defaultTheme: true
          }
        }
      );
      resolve(true)
    })
  }
}
