.panel-footer.left-hours{
  display: flex;
  justify-content: center;
}

.pieLabel{
  color: #fff;
}

#dashboard_container{
  padding-top: 30px;
}

#filter_contracts_form {
  padding-top: 8px;
}

#dashboard-notification .alert{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loading {
  display: block;
  margin: -10px 5px 0 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 6px;
  border: 6px solid #3980C3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3980C3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
