#report_export_form {
  display: none;
}

.report-filters{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.report-actions .actions{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.report-actions .actions #action_generate_report {
  order: 0;
  margin-bottom: 15px;
  margin-top: 25px;
}

.report-actions .actions #action_export_csv {
  order: 1;
  margin-bottom: 15px;
  margin-top: 25px;
}

#report-data-container #period_details .panel-heading span,
#report-data-container #summary_hiring .panel-heading,
#report-data-container #detailed_hiring .panel-heading {
  font-weight: bold;
}

#report-data-container #summary_hiring table#summary tfoot {
  font-weight: bold;
}
