.scopes{
  display: inline-block;
  padding-left: 0;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.scopes .scope-item{
  display: inline;
  position: relative;
  float: left;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.scopes .scope-item:first-child{
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.scopes .scope-item:last-child{
  margin-left: 0;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.scopes .scope-item:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.scopes .scope-item:hover a{
  text-decoration: none;
}

.scopes .scope-item a{
  padding: 4.5px 12px;
  display: block;
}

.scopes .active-scope {
  background-color: #337ab7;
  border-color: #337ab7;

}

.scopes .active-scope a{
  color: #fff;
  cursor: default;
}

.scopes .active-scope a:hover,
.scopes .active-scope a:focus{
  text-decoration: none;
}

.scopes .active-scope:hover{
  background-color: #337ab7;
  border-color: #337ab7;
}

.scopes .active-scope:hover a {
  color: #fff;
  cursor: default;
}
