@media (min-width: 768px){
  #page-wrapper{
    margin: 0;
  }
}

.clear{
  clear: both;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#page-wrapper{
  width: 100%;
  min-height: 88.4% !important;
}

.page-footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.page-footer .container{
  width: 100%;
  text-align: center;
}
