<% if flash[:success].present? %>
  <p class='alert alert-success alert-dismissable'><%= flash[:success] %></p>
<% end %>
<% if flash[:notice].present? %>
  <p class='alert alert-info alert-dismissable'><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert].present? %>
  <p class='alert alert-danger alert-dismissable'><%= flash[:alert] %></p>
<% end %>
