<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('.title') %>
  </div>
  <div class="panel-body">
    <div class="col-lg-12 col-md-6 report-filters">
      <div class="report-filters-container filters-date-from">
        <%= f.input :start_date, hint: false,
              input_html: { id: "#{f.options[:html][:id]}_start_date", class: 'datepicker',
              data: { date_options: { defaultDate: Date.today.beginning_of_month } } }
        %>
      </div>
      <div class="report-filters-container filters-date-to">
        <%= f.input :end_date, hint: false,
              input_html: { id: "#{f.options[:html][:id]}_end_date", class: 'datepicker',
              data: { date_options: { defaultDate: Date.today.end_of_month } } }
        %>
      </div>
    </div>
  </div>
</div>
