<div class="panel panel-default">
  <div class="panel-heading" style="text-align: center;">
    <%= t('.title') %>
  </div>
  <div class="panel-body">
    <div class="col-lg-12 col-md-6 report-actions">
      <div class="actions">
        <div id="action_generate_report" class="actions-items">
          <%= link_to t('.buttons.generate'), '', id: 'generate_report_btn', class: 'btn btn-default submit' %>
        </div>

        <div id="action_export_csv" class="actions-items">
          <%= link_to t('.buttons.export'), '', id: 'export_as_xls_btn', disabled: true, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
