<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
      <div class="col-lg-2 col-md-6"></div>
      <div class="col-lg-4 col-md-6">
        <%= simple_form_for(report, url: create_report_path, remote: true, html: { id: 'report_form' }) do |f| %>
          <%= render 'report_filters', f: f %>
        <% end %>
        <%= simple_form_for(report, url: export_report_as_xls_path, method: :xlsx, html: { id: 'report_export_form' }) do |f| %>
          <%= render 'report_filters', f: f %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6">
        <%= render 'report_actions' %>
      </div>
      <div class="col-lg-3 col-md-6"></div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</div>
