<div class="row">
  <div class="col-lg-12" id="period_details">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>
          <%= t('.period_title') %>
        </span> <%= "#{start_date.to_s(:date_format)} - #{end_date.to_s(:date_format)}"  %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" id="summary_hiring">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-file-text"></i> <%= t('.summary_title') %>
      </div>
      <div class="panel-body">
        <%= render partial: 'reports/results/summary', locals: { contracts: contracts, contract_summed_hours: contract_summed_hours } %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" id="detailed_hiring">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-file-text"></i> <%= t('.details_title') %>
      </div>
      <div class="panel-body">
        <%= render partial: 'reports/results/details', locals: { contracts: contracts } %>
      </div>
    </div>
  </div>
</div>
