<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= t('.title') %></h2>
  </div>
</div>

<div id="report-container">
  <%= render 'report', report: @report %>
</div>

<div id="report-data-container"></div>
