<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><%= t('system.title') %></a>
  </div>

  <ul class="nav navbar-top-links navbar-left main-menu">
    <%= render partial: '/layouts/nav_menu_item', locals: { menu_item_string: 'contracts', menu_item_text: t('.contracts'), menu_item_path: contracts_path } %>
    <%= render partial: '/layouts/nav_menu_item', locals: {  menu_item_string: 'tasks', menu_item_text: t('.tasks'), menu_item_path: tasks_path } %>
    <%= render partial: '/layouts/nav_menu_item', locals: {  menu_item_string: 'reports', menu_item_text: t('.reports'), menu_item_path: reports_path } %>
  </ul>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown user-info">
      <div><%= "#{current_user.name} | #{current_user.company.name} " %></div>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <!-- <li>
          <a href="#">
            <i class="fa fa-user fa-fw"></i> User Profile
          </a>
        </li>
        <li class="divider"></li> -->
        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="fa fa-sign-out fa-fw"></i> <%= t('sessions.logout') %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
