<li class="dropdown <%= class_for_menu(menu_item_string) %>">
  <% if menu_is_selected?(menu_item_string) %>
    <div class="no-link">
      <i class="fa fa-database fa-fw"></i> <%= menu_item_text %>
    </div>
  <% else %>
    <%= link_to(menu_item_path) do %>
      <i class="fa fa-database fa-fw"></i> <%= menu_item_text %>
    <% end %>
  <% end %>
</li>
