<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title><%= t('system.title') %></title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'custom_bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'menu', media: 'all' %>
    <%= stylesheet_link_tag 'dataTable' %>
    <%= stylesheet_link_tag 'sb-admin-2' %>
    <%= stylesheet_link_tag 'style' %>

    <%= stylesheet_link_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.css") %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'custom_bootstrap' %>
    <%= javascript_include_tag 'dataTable' %>
    <%= javascript_include_tag 'charts' %>
    <%= javascript_include_tag 'sb-admin-2' %>

    <%= javascript_include_tag "#{controller_name}.js" if Rails.application.assets.find_asset("#{controller_name}.js") %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/layouts/menu' %>
    <div id="page-wrapper">
      <%= yield %>
    </div>
    <footer class="page-footer">
      <div class="container">
        <span class="text-muted"><%= t('system.catch_phrase') %></span>
      </div>
    </footer>
  </body>
</html>
