<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title><%= t('system.title') %></title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'custom_bootstrap' %>
    <%= stylesheet_link_tag 'login' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'custom_bootstrap' %>
    <%= javascript_include_tag 'jquery.backstretch.min' %>

    <%= javascript_include_tag 'login' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: '/shared/notification/notification', locals: { flash: flash } %>
    <%= yield %>
  </body>
</html>
